html {
  font-size: 18px;
}

body {
  font-family: Helvetica;
  color: white;
  max-width: 960px;
  margin: 0 auto;
  padding: 0;
  background-color: white;
}

header {
  background-color: black;
  color: white;
  height: 2.32rem;
  margin: auto auto 0 auto;
  display: flex;
  align-items: center;
}

header img {
  height: 1.5rem;
  margin: auto 1rem auto 0.5rem;
}

header span {
  font-family: Helvetica;
  font-size: 1rem;
  margin: 0.66rem 0;
}

#topbanner {
  height: 25rem;
  background-image: url("../images/moto.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

#bannertext {
  background-color: black;
  width: 20em;
  font-weight: bold;
  position: absolute;
  z-index: 20;
  margin-top: 9rem;
  margin-left: 3rem;
  padding: 2rem 3rem;
}

#bannertext p {
  font-size: 1rem;
  padding-bottom: 0.25rem;
}

#bannertext h1 {
  font-size: 2rem;
}

nav {
  background-color: firebrick;
  display: flex;
  justify-content: space-around;
  margin: auto;
  padding: 0.75rem 1.5rem;
}




nav span {

}
