/*   written by: Steve Harold
     7/17/17-7/?/17
     Secret Agent Supply   */

html {
  font-size: 18px;
}

body {
  font-family: Helvetica;
  color: white;
  margin: 0;
  background-color: white;
}

.container {
  max-width: 960px;
  margin: auto;
}

/*header*/

header {
  background-color: black;
  color: white;
}

.logo {
  height: 2.32rem;
  margin: auto auto 0 auto;
  display: flex;
  align-items: center;
  max-width: 960px;
}

header img {
  height: 1.5rem;
  margin: auto 1rem auto 0.5rem;
}

header span {
  font-family: Helvetica;
  font-size: 1rem;
  margin: 0.66rem 0;
}

/* banner and headline */

#topbanner {
  height: 25rem;
  background-image: url("../images/moto.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#topbanner .container {
  padding-top: 9rem;
}

#bannertext {
  background-color: black;
  width: 20em;
  font-weight: bold;
  position: relative;
  padding: 2rem 3rem;
}

#bannertext p {
  font-size: 1rem;
}

#bannertext h1 {
  font-size: 2rem;
}

/* navbar */

nav {
  background-color: firebrick;
}

nav .container {
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 0.75rem 1.5rem;
}

/* product pictures & titles */

main {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

main .container {
  display: flex;
  justify-content: space-between;
}

#firstpic, #secondpic, #thirdpic {
  background-color: black;
  border: 4px solid black;
  overflow: hidden;
  flex-basis: 30%;
}

main img {
  background-color: white;
  max-height: 9rem;
  padding: 2rem;
  max-width: 10rem;
  object-fit: contain;
}

.image {
  background-color: white;
  width: 100%;
  padding: auto;
  display: flex;
  justify-content: center;
}

main h4 {
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin: auto;
  text-align: center;
}

/* Location and Hours of Operation */

#info .container {
  display: flex;
  justify-content: space-between;
}

#info h4 {
  background-color: black;
  padding: 1rem 2rem;
}

#info p {
  color: black;
  padding: 0.25rem 0;
}

#location, #hours {
  flex-basis: 35%;
}

#info {
  margin-bottom: 4rem;
}

/* footer */

footer {
  background-color: black;
  height: 5rem;
}

footer .container {
  padding: 2rem 0;
}

footer span {
  text-align: left;
}

/* MEDIA QUERIES */

/*if width < 1024px (tablet)*/

@media only screen and (max-width:1024px) {

  html {
    font-size: 16px;
  }

  #firstpic, #secondpic {
    flex-basis: 45%;
  }

  #thirdpic {
    display: none;
  }

}
